.App {
  text-align: none;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  justify-content: normal;
}

.navbar-expand {
  justify-content: normal;
}

.bg-dark {
  background-color: #1E1014 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
  background-color: #B4A0E5 !important;
  border-color: #B4A0E5 !important;
}

.alert-success {
  background-color: #CAFFD0;
  border: #CAFFD0;
}

.note-body {
  white-space: pre-wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
